table{
    border-collapse: collapse;
}

main, header, nav, article, aside, footer, div{

    padding: 10px;
    border: solid 1px black;
}

main{
    background-color: cornflowerblue;
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-areas: "he he he"
                         "na na na"
                         "ar ar as"
                         "se se se"
                         "fo fo fo";

}
body{
    text-align: justify;
    background-image: url("documents/sakk.jpg") ;
}

header{
    grid-area: he;
}

nav{
    grid-area: na;
}

nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

article{
    grid-area: ar;
}

aside{
    grid-area: as;
}

footer{
    grid-area: fo;
}

section{
    display: grid;
    grid-area: se;
    grid-template-columns: 1fr 1fr 1fr;
}

img.bekezd{
    float:left;
    padding: 10px;
}

img{
    max-width: 200px;
}

table{
    border: solid 1px black;
}

th{
    background-color: cadetblue;
    height: 20px;
    width: 20px;
    text-align: center;
}

td{
    border: solid 1px black;
    height: 30px;
    width: 30px;
    text-align: center;
}

tr:nth-child(odd) td:nth-child(even){
    background-color: chocolate;
}
tr:nth-child(even) td:nth-child(odd){
    background-color: chocolate;
}

@media only screen and (max-width: 800px) {
    main {
        grid-template-areas:
        "he"
        "na"
        "ar"
        "as"
        "se"
        "fo";
    }
    nav ul{
        grid-template-columns: 1fr;
    }
    section{
        grid-template-columns: 1fr;
    }
    
}